---
//@ts-nocheck

const employeesData = await fetch(
  "https://frontend-design-theme.netlify.app/api/employees"
).then((response) => response.json());

console.log(employeesData);

import Image from "astro/components/Image.astro";
import Button from "./Button.astro";
---

<div class="employyes_container">
  <h2>Meet Our Great Team</h2>
  <div class="employyes_text">
    <p>
      Welcome to our amazing team! We are a group of passionate individuals
      dedicated to excellence and innovation. Each member brings unique skills
      and experiences, working together to achieve our goals. Join us as we
      embark on exciting projects and create lasting impacts.
    </p>
    <Button variant="primary_button">Get in touch</Button>
  </div>

  <ul role="list">
    {
      employeesData.map((employye) => (
        <li>
          <a href={`/employye/${employye.slug}`}>
            <img src={employye.img} alt={employye.name} />
            {/* <p>{employye.title}</p> */}
            <h3>{employye.name}</h3>
            <p>{employye.description}</p>
            <a href={employye.url} set:html={employye.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</div>

<!-- {
  social_links.map((link) => (
    <li>
      <a href={link.url} set:html={link.icon} />
    </li>
  ))
} -->

<style>
  @layer components {
    img {
      border-radius: var(--border-radius-items);
    }
    p {
      max-width: 60ch;
    }

    a {
      color: var(--black-primary);
      text-decoration: none;
    }

    .employyes_text {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    ul {
      display: grid;
      gap: 3rem;
      text-align: center;
      padding-block: 2rem;

      @media (width > 800px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
</style>
