---
//@ts-nocheck
const sliderContent = await fetch(
  "https://frontend-design-theme.netlify.app/api/financialProjections"
).then((response) => response.json());
---

<div class="slider_container">
  <div>
    <h2>{sliderContent.title}</h2>
    <p>{sliderContent.subtitle}</p>
  </div>

  <ul role="list">
    {
      sliderContent.values.map(async (slider) => {
        const Icon = await import(`../icons/${slider.icon}.svg`).then(
          (module) => module.default
        );

        return (
          <li>
            <Icon />
            <h2>{slider.title}</h2>
            <p>{slider.description}</p>
            <a href={slider.link.url}>{slider.link.text}</a>
          </li>
        );
      })
    }
  </ul>

  <!-- <ul role="list">
    {
      sliderContent.values.map((slider) => (
        <li>
          <h3>{slider.title}</h3>
          <p>{slider.description}</p>
        </li>
      ))
    }
  </ul> -->
</div>

<style>
  @layer components {
    .slider_container {
      p {
        max-width: 60ch;
      }
    }
    ul {
      /* Styrer flex scroll delen */
      overflow-x: auto;
      display: flex;
      gap: 1rem;
      padding-block: 2rem;

      /* Styrer "funktionen/designet på scroll */
      scroll-snap-type: inline mandatory;

      /* Sørger for at ul flugter med indhold fra index */
      /* padding-inline: max(20px, 50% - 50rem / 2); */

      /* Sørger for card stopper ved starten af hvert card ved scroll*/
      /* scroll-padding-inline-start: max(20px, 50% - 50rem / 2); */

      /* scroll-snap-stop: always; */
    }

    li {
      /* Hvor brede hvert element bliver */
      flex-basis: min(90%, 400px);

      /* Gør den scrollbar */
      flex-shrink: 0;

      /* Sørger for cards vises i midten */
      scroll-snap-align: start;

      /* Custom proporties styling af card */
      margin-top: var(--li-margin-top);
      padding: 2.75rem 2.1875rem;
      gap: 1rem;
      border-radius: var(--border-radius-items);
      background-color: var(--grey-dark);
    }
  }
</style>
